#EngineeringAvailability{
    position: absolute;
    left: 100px;
}

#DataVizRoom{
    position: absolute;
    left: 100px;
    top: 110px;
}

#GISLAB{
    position: absolute;
    left: 100px;
    top: 330px;
}

#IntervR2{
    position: absolute;
    left: 100px;
    top: 550px;
}

#GroupStudy2{
    position: absolute;
    left: 100px;
    top: 790px;
}
#GroupStudy3{
    position: absolute;
    left: 100px;
    top: 980px;
}
#GroupStudy4{
    position: absolute;
    left: 100px;
    top: 1135px;
}
#GroupStudy5{
    position: absolute;
    left: 100px;
    top: 1290px;
}
#EngineeringFood{
    position: absolute;
    left: 100px;
    top: 1500px;
}

#EngineeringVolume{
    position: absolute;
    left: 100px;
    top: 1600px;
}

